<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: #eee;
            margin: 0 auto;
            padding: 0 1em;
            width: 100%;
            max-width: 1200px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #333;
            font-size: 1.5em;
        }

        h1 {
            color: #719e40;
            letter-spacing: -3px;
            font-family: 'Lato', sans-serif;
            font-size: 100px;
            font-weight: 200;
            margin-bottom: 0;
        }

        pre {
            overflow-x: auto;
        }

        code {
            background-color: #333;
            color: #ccc;
            display: inline-block;
            padding: 1em;
        }
    </style>
</head>
<body>
{{body|raw}}
</body>
</html>
