{
  "exception": "invalid parameter exception",
  "message": "Invalid parameter value detected.",
  "errorcode": "invalidparameter",
  "debuginfo": [
  {% for error in errors %}
    "{{ error.getMessage }}"{% if not loop.last %},{% endif %}
  {% endfor %}
  ]
}
